<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">	
	<display-name>TestWebProject</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>

	<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
	    <servlet-name>dispatcher</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/config/TestWebProject-servlet.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <context-param>
	    <param-name>contextConfigLocation</param-name>
   		<param-value>/WEB-INF/config/TestWebProject-servlet.xml</param-value>
	</context-param>

    <listener>
   		<listener-class>
      		org.springframework.web.context.ContextLoaderListener
   		</listener-class>
	</listener>
	<!-- 
    <servlet>
         <servlet-name>AjaxServlet</servlet-name>
         <servlet-class>com.cds.web.test.servlet.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>AjaxServlet</servlet-name>
         <url-pattern>/ajaxCall</url-pattern>
    </servlet-mapping>
        
   <!-- CSRFGuard context parameters, session listener, and filter 
       <listener>
            <listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
       </listener>
       <listener>
            <listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
       </listener>
       <context-param>
             <param-name>Owasp.CsrfGuard.Config</param-name>
             <param-value>/com/cds/web/test/config/CsrfGuard.properties</param-value>
       </context-param>
       <context-param>
             <param-name>Owasp.CsrfGuard.Config.Print</param-name>
             <param-value>false</param-value>
       </context-param>    
       <context-param>
       		<param-name>Owasp.CsrfGuard.overlay.properties</param-name>
       		<param-value>/com/cds/web/test/config/CsrfGuard.properties</param-value>
       </context-param>
       -->
    <!-- Declare and map CSRF enforcement mechanism -->
    <!-- 
	<filter>
		<filter-name>CSRFGuard</filter-name>
		<filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSRFGuard</filter-name> 
		<url-pattern>/*</url-pattern>
	</filter-mapping>       
	-->
	<!--  Servlet for javascript injection of token into html/jsp -->
	<!-- 
	<servlet>
		 <servlet-name>JavaScriptServlet</servlet-name>
		 <servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
		 <init-param>
			 <param-name>source-file</param-name>
			 <param-value>/WEB-INF/csrfguard.js</param-value>
		 </init-param>
		 <init-param>
			 <param-name>inject-into-forms</param-name>
			 <param-value>true</param-value>
		 </init-param>
		 <init-param>
			 <param-name>inject-into-attributes</param-name>
			 <param-value>true</param-value>
		 </init-param>
		<init-param>
			 <param-name>domain-strict</param-name>
			 <param-value>false</param-value>
		</init-param>
		<init-param>
			 <param-name>referer-pattern</param-name>
			 <param-value>.*localhost.*</param-value>
		</init-param>
	</servlet>	
	<servlet-mapping>
		 <servlet-name>JavaScriptServlet</servlet-name>
		 <url-pattern>/JavaScriptServlet</url-pattern>
	</servlet-mapping>
	-->

</web-app>